body {
    font-family: 'Times New Roman';
    font-size: 1em;
    color: white;
    background: #e8e1db url(../Images/Design/main_bg.png) repeat top left;
}

@media screen and (-webkit-device-pixel-ratio:1.5),(device-pixel-ratio:1.5),(min-resolution: 150dpi) { html {font-size: 1.5em;} }
@media screen and (-webkit-device-pixel-ratio:2),(device-pixel-ratio:2),(min-resolution: 192dpi) { html {font-size: 2em;} }
@media screen and (-webkit-device-pixel-ratio:2.5),(device-pixel-ratio:2.5), (min-resolution: 320dpi) { html {font-size: 2em;} }
@media screen and (-webkit-device-pixel-ratio:3),(device-pixel-ratio:3),(min-resolution: 440dpi) { html {font-size: 2em;} }
@media screen and (-webkit-device-pixel-ratio:3.5),(device-pixel-ratio:3.5),(min-resolution: 550dpi) { html {font-size: 2.5em;} }
@media screen and (-webkit-device-pixel-ratio:4),(device-pixel-ratio:4),(min-resolution: 670dpi) { html {font-size: 3em;} }

@media screen and (orientation: portrait) { body {font-size: 150%;} }

a img {
    border: none;
}

.content {
    margin-top: 2em;
    margin-bottom: 1em;
    float:left;
}

.version
{
    text-align: right;
    padding: 0.2em 0.3em;
    zoom:1;
    font-size: 0.8em;
    border-radius:4px;
    background-color: rgba(203,193,189,.8);
    clear: both;
    float: right;
}