@media screen and (orientation: portrait) 
{ 
    .prev-button span,
    .next-button span
    {
        display:none !important;
    }

    .preview-image {
        line-height: 33em;
    }
    .preview-image img,
    .preview-image video {
        width:100%;
    }
}
@media screen and (orientation: landscape) 
{ 
    .preview-image img,
    .preview-image video {
        height:100%;
    }
}
.photo-dialog .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    _opacity: 0.8;
}

.photo-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.photo-dialog .button
{
    color: #B7B7B7;
}
.photo-dialog .button:hover
{
    color: white;
    border-color: white;
}

.prev-button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    cursor: pointer;
}


.prev-button span {
    left:0.5em;
    background: url(../Images/left.svg) no-repeat center left;
}


.next-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    cursor: pointer;
}

.next-button span {
    right:0.5em;
    background: url(../Images/right.svg) no-repeat center left;
}

.prev-button span,
.next-button span
{
    display: block;
    position:absolute;
    top:50%;
    margin-top: -1.45em;
    width: 1.6em;
    height: 2.9em;    
    background-size: 100%;
    opacity: 0.5
}

.prev-button:hover span,
.next-button:hover span
{
    opacity:1;
}

.preview-image {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
    bottom: 1em;
    text-align: center;
    overflow: hidden;
    background: url(../Images/loader.gif) no-repeat center center;    
}

.image-info {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 30px;
    color: #B7B7B7;
}

.preview-image img,
.preview-image video {
    cursor: pointer;
    vertical-align:middle;
}

.download-button {
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: 80px;
    padding: 5px;
    border: solid 1px #B7B7B7;
}


.closer {
    display: inline-block;
    vertical-align: top;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    opacity: .5;
    visibility: visible;
    cursor: pointer;
}
.closer:hover
{
    opacity:1;
}
    .closer .icon_cross-small {
        display: block;
        line-height: 1.0em;
        width: 1.0em;
        height: 1.0em;
        color: #fff;
    }

    .closer .svg-icon
    {
        
    }
    .closer .svg-icon {
        display: block;
    }

.svg-icon {
    vertical-align: middle;
}
