.img {
    position: relative;
    width: 5em;
    height: 5em;
    overflow: hidden;
    margin: 0.7em 0 0 0.7em;
    float: left;
    background: url(../Images/image.png) no-repeat center center;
    background-size: 3em;
    box-shadow: 0 0.1em 0.5em black;    
    transition:transform ease 0.2s;
}
.img .top-info
{
    display:inline-block;
    position: absolute;
    right:0.2em;
    top:0.2em;
    border: solid 0.1em transparent;
    border-radius: 0.2em;
    padding:0.2em;
    background-color: rgba(0,0,0,0.6);
    font-size: 80%;
}

    .img a {
        display: block;
        text-align: center;
        vertical-align: central;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
        font-size: 0.8em;
        transition: font ease 0.3s;
    }
    .img a img {
        width: 100%;
        height: 100%;
    }
    .img:hover {
        _box-shadow: 0 0.1em 1em #a04614;
    }

    .img.image:hover {
        z-index: 2;
        transform: scale(1.7);
    }

    .img.folder:hover {
        z-index: 2;
        transform: scale(1.5);
    }

    .img.folder-back:hover {
        transform: rotate(90deg);        
    }

    .img.folder:hover a
    {
        font-size: 0.8em;
    }

    .img.folder {
        background: url(../Images/Design/folder_bg.png) no-repeat left top;
        background-size: 100%;
    }

    .img.folder-back {
        background: url(../Images/Design/folder_back.png) no-repeat left top;
        background-size: 100%;
    }

    .img.folder a,
    .img.video a
    {
        _background: url(../Images/Design/item_overlay.png) no-repeat left top;
        _background-size: 100%;
    }

    .img.video {
        background: url(../Images/video.png) no-repeat center top;
        background-size: 5.5em;
    }

    .img .label {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        overflow: hidden;
        vertical-align: central;
        padding: 0.1em;
        
    }
    .img.folder .label {
        background-color: rgba(0,0,0,0.6);
    }

@media screen and (-webkit-device-pixel-ratio:1.5),(device-pixel-ratio:1.5),(max-resolution: 150dpi) and (max-width: 1920px) 
{ 
    .img 
    {
        width: 8em; 
        height:8em;
    } 
    .img a
    {
        font-size: 1em;
    } 
}